<a href="https://colab.research.google.com/github/NoorZahra12/classwork-tasks/blob/main/Chapter_1_with_comments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1:**

Write a Python program to print the following string in a specific format.

Twinkle, twinkle, little star,

How I wonder what you are! 

Up above the world so high,   		

Like a diamond in the sky.

In [ ]:
#printing the poem in different lines
print("twinkle twinkle little star")
print("how i wonder what you are")
print("up above a world so high")
print("like a diamond in the star")

twinkle twinkle little star
how i wonder what you are
up above a world so high
like a diamond in the star

**Exercise 2:**

 Write a Python program to get the Python version you are using.

In [ ]:
import sys #importing a module
print("python version")
print(sys.version) #printing the python version 
print("version info")
print(sys.version_info) #printing the python version in detail

python version
3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
version info
sys.version_info(major=3, minor=7, micro=14, releaselevel='final', serial=0)

**Exercise 3:**

Write a Python program to display the current date and time.

In [ ]:
from datetime import date #importing module to find date
today = date.today() #naming a variable today and giving it a value of the in built function
print("today's date:",today) #calling the variable to print date

today's date: 2022-09-30

In [ ]:
from datetime import date #importing module to find date
d1 = today.strftime("%d/%m/%y") #printing date,month and year
print("d1=",d1)

d1= 30/09/22

In [ ]:
from datetime import date #importing module to find date
d2 = today.strftime("%m/%d/%y") #printing month,date and year
print("d2=",d2)

d2= 09/30/22

In [ ]:
from datetime import datetime
#datetime object containing current date and time
now = datetime.now() #naming  variable called now and giving it a value of the in built function
print("now=",now)

now= 2022-09-30 08:57:07.081552

**Exercise 4:**

Write three strings in different variables and print the output as one string.

In [ ]:
#writing 3 strings in 3 different variables
a= "twinkle twinkle "
b= "little "
c= "star"
#printing the 3 variables together as one string
print(a+b+c)

twinkle twinkle little star

**Exercise 5:**

Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
r=input("Enter radius ")     #user can write any number as radius
area=3.14*int(r)**2   #calculating the formula of area by using the radius which was given by user
print("the area of circle is ",area)   #printing the area

Enter radius 11
the area of circle is  379.94