<a href="https://colab.research.google.com/github/NoorZahra12/classwork-tasks/blob/main/Extra_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=1
while a<=10: #this loop will keep repeating until 'a' is smaller than 10 or equal to 10
  print(a) #printing the number
  a+=1 #adding 1 to itself

1
2
3
4
5
6
7
8
9
10

In [3]:
a=1
while a<=10: #this loop will keep repeating until 'a' is smaller than 10 or equal to 10
  print(a) #printing the number
  a+=2  #adding 1 to itself

1
3
5
7
9

In [2]:
a=0
while a<10: #loop will run until a is less than 10
  a+=1 #increasing itself by 1
  if a%2==0: #if remainder of 'a' divided by 2 is 0
    continue
  print(a)
else:
  print("Loop terminated as number exceeds 10")

1
3
5
7
9
Loop terminated as number exceeds 10

In [4]:
flowers=['lily','rose','tulip','jasmine']
for x in flowers: #naming the elements of flowers as x
  print(x) #printing x

lily
rose
tulip
jasmine

In [5]:
student={'name':'Noor Zahra','id':46378,'course':'BSC CC'}
#Printing the information of student to display value calling the keys
print(student['name'])
print(student['id'])
print(student['course'])

Noor Zahra
46378
BSC CC

In [8]:
student={'name':'Noor Zahra','id':46378,'course':'BSC CC'}
for key, value in student.items():
  print(f"\nkey:{key}") #printing 1 key only
  print(f"\nvalue:{value}") #printing the 1 value only
  
  print("\nDisplay only keys")
  for key in student.keys():
    print(key) #printing all the keys in dictionary

  print("\nDisplay only values")
  for value in student.values():
    print(value) #printing all the keys in dictionary

key:name

value:Noor Zahra

Display only keys
name
id
course

Display only values
Noor Zahra
46378
BSC CC

key:id

value:46378

Display only keys
name
id
course

Display only values
Noor Zahra
46378
BSC CC

key:course

value:BSC CC

Display only keys
name
id
course

Display only values
Noor Zahra
46378
BSC CC

In [9]:
student={'name':'Noor Zahra','id':46378,'course':'BSC CC'}
print('Display key-value pairs')
for key, value in student.items(): #making a variable name for both key and value
 print(f"\nkey:{key}") #printing the key of the list
 print(f"value:{value}") #printing the value of the list
#adding a information about student
student['gender']='Female' #adding a new key and value
print(student) #printing the dictionary

Display key-value pairs

key:name
value:Noor Zahra

key:id
value:46378

key:course
value:BSC CC
{'name': 'Noor Zahra', 'id': 46378, 'course': 'BSC CC', 'gender': 'Female'}

In [10]:
#writing the information about 4 students
student1={'name':'Noor','id':46378,'course':'BSC CC'}
student2={'name':'rhea','id':46367,'course':'BSC CC'}
student3={'name':'faiza','id':46456,'course':'BSC CC'}
student4={'name':'asma','id':46471,'course':'BSC CC'}
#making a list of dictionary to combine all the students information in one variable list
student=[student1,student2,student3,student4]
for std in student: #naming the elements of the list as std
  print(std) #printing all the elements of the dictionary list

{'name': 'Noor', 'id': 46378, 'course': 'BSC CC'}
{'name': 'rhea', 'id': 46367, 'course': 'BSC CC'}
{'name': 'faiza', 'id': 46456, 'course': 'BSC CC'}
{'name': 'asma', 'id': 46471, 'course': 'BSC CC'}

In [11]:
def greet(username): #defining a function
  print(f"Hello {username.title()} to python world!") #giving a message to my function
greet('Noor') #inputing username as noor and calling the greet function so it will print the function

Hello Noor to python world!

In [12]:
def display_message(): #defining a function
  print("Hello python world!") #assigning a message to function
display_message() #calling function

Hello python world!

In [13]:
topping='\n What toppings would like to on your pizza?'
topping+='\n Enter quit when you are done '
while True:
  toppings=input(topping) #user can input any string as topping of the pizza
  if toppings=="quit": #if the user enters quit then following instructions will be followed
    break #this stops the loop

 What toppings would like to on your pizza?
 Enter quit when you are done olives
Olives !

 What toppings would like to on your pizza?
 Enter quit when you are done cheese
Cheese !

 What toppings would like to on your pizza?
 Enter quit when you are done quit

In [15]:
number=input('Enter any number ') #user can put any number
if int(number)>0:
#if the number entered by user the greater than 0 then the following message will be displayed
  print(number,"is positive")

Enter any number 567
567 is positive

In [16]:
number1=input('Enter any number ') #user entering first number
number2=input('Enter any number ') #user entering second number
if int(number1)<int(number2): #if the condition of number 1 being smaller than number 2 is true,then the following message will be displayed
  print(number1," is smaller than the second number ", number2) 
else: #otherwise if the condition is false the following message will be displayed
   print(number1," is bigger than the second number ", number2)

Enter any number 4
Enter any number 6
4  is smaller than the second number  6

In [35]:
print('enter 1st number')
x=int(input()) #user can input any number
print('enter 2nd number')
y=int(input()) #user can input any number
if x<y: #if x is smaller than y then the following message will be displayed
   print(x," is smaller than the second number ",y)
else: #otherwise if the condition is false the following message will be displayed
   print(x," is smaller than the second number ",y)

enter 1st number
4
enter 2nd number
77
4  is smaller than the second number  77

In [34]:
print('Are you in US or Australia')
c=str(input()) #user can type either one country from the options given above
print('write the amount of shipments you want to make')
s=int(input()) #user can put any number for the amount of shipments they have
if c=="US": #if the country is US the following instructions will be followed
 if s==50: #if shipment is 50 then
  print('your bill is 50 each')
 elif s>50:
  print('your bill is 25 each')

elif c=="Australia":
  if s==100:
   print('your bill is 50 each')
  elif s>100:
   print('your bill is 25 each')

Are you in US or Australia
US
write the amount of shipments you want to make
60
your bill is 25 each

In [32]:
print('Is alien color green, yellow or red')
x=str(input())

if x == "green":
  print('player got 5 point')
if x == "yellow":
  print('player got 10 point')
elif x=="red":
  print('you get 15 points')
else:
  print('you get 0 points')

Is alien color green, yellow or red
green
player got 5 point
you get 0 points

In [31]:
a=input("Enter first number")
b=input("Enter second number")
add=(a+b)
print("the addition of your number= ", add)

Enter first number5
Enter second number8
the addition of your number=  58

In [30]:
print('enter 2 numbers;')
a=int(input())
b=int(input())
print('the addition of '+str(a)+' and '+str(b)+' is '+str(a+b))
print('the subtraction of '+str(a)+' and '+str(b)+' is '+str(a-b))
print('the multiply of '+str(a)+' and '+str(b)+' is '+str(a*b))
print('the division of '+str(a)+' and '+str(b)+' is '+str(a/b))
print('the remainder of '+str(a)+' and '+str(b)+' is '+str(a%b))
print('the power of '+str(a)+' and '+str(b)+' is '+str(a**b))

enter 2 numbers;
4
8
the addition of 4 and 8 is 12
the subtraction of 4 and 8 is -4
the multiply of 4 and 8 is 32
the division of 4 and 8 is 0.5
the remainder of 4 and 8 is 4
the power of 4 and 8 is 65536

In [29]:
print('enter your age ')
age=int(input())
if age >=18:
 print('you are old enough to vote')
elif age <18:
  print('you are not old enough to vote')

enter your age
77
you are old enough to vote

In [28]:
print('enter your age ')
age=int(input())

if age <=3:
 print('your entry is free')
elif age <=18:
 print('your admission cost is 25')
else:
  print('your admission cost is 40')

enter your age
9
your admission cost is 25

In [27]:
print('type 2 numbers ')
a=int(input())
b=int(input())
list=[10,20,30,40,50]

if (a in list):
  print("a is in the list")
else:
  print("a is not in the list")

if (b in list):
  print("b is in the list")
else:
  print("b is not in the list")

type 2 numbers
5
9
a is not in the list
b is not in the list

In [26]:
names=['jack','elsa','fatima','asiya','anna','john','emily']
print("Hello,"+names[0].title()+"!")
print("Hello,"+names[1].title()+"!")
print("Hello,"+names[2].title()+"!")
print("Hello,"+names[4].title()+"!")
print("Hello,"+names[5].title()+"!")
print("Hello,"+names[6].title()+"!")

Hello,Jack!
Hello,Elsa!
Hello,Fatima!
Hello,Anna!
Hello,John!
Hello,Emily!

In [25]:
cars=['honda car','train','private jet',]
print("My brother owns a "+cars[0].title())
print("I use the"+cars[0].title()+" to reach my university")
print("I want to own a "+cars[0].title())

My brother owns a Honda Car
I use theHonda Car to reach my university
I want to own a Honda Car

In [24]:
country=['paris','uae','us']
country[2]='italy'
print(country)

['paris', 'uae', 'italy']

In [23]:
country=['paris','uae','us']
country.insert(2,'italy')
print(country)

['paris', 'uae', 'italy', 'us']

In [22]:
a=5
print(a)
print("the value of a is:"+str(a))

5
the value of a is:5

In [21]:
a,b=100,200
print(a)
print(b)

100
200

In [20]:
a,b= ("hello there"), ("whats up")
print(a)
print(b)

hello there
whats up

In [19]:
h=input("Enter height: ")
w=input("Enter width: ")
area=int(h)*int(w)
perimeter=int(h)+int(h)+int(w)+int(w)
print("the area is ",area)
print("the perimeter is ",perimeter)

Enter height: 5
Enter width: 6
the area is  30
the perimeter is  22

In [17]:
#ordinal function is used to find the number values of alphabets
print('the ordinal value of capital H is')
print(ord('H'))

the ordinal value of capital H is
72